/*slider*//* line 37, C:/Users/HP/Desktop/264.Business_HTML/HTML/assets/scss/_h1-hero.scss */
.slider-area {
  margin-top: -1px;
  background-image: url(../img/hero/h1_slide.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.my_services,.my_services p{
	font-weight:700;
	color: #092c3f;
    font-size: 16px;
}
.my_services ul li{
	list-style: circle
}

.footer-logo a:hover{
	color:#ffffff;
}

/*blog*/
.single-widget-area {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}
.single-widget-area .post-author-widget {
    position: relative;
    z-index: 1;
    padding: 45px 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 27px 0px rgba(90, 111, 120, 0.15);
    text-align: center;
}

.single-widget-area .post-author-widget .post-author-avatar {
    position: relative;
    z-index: 1;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: #003366;
    background-image: -webkit-linear-gradient(120deg, #505add 0%, #002040 100%);
    background-image: -ms-linear-gradient(120deg, #505add 0%, #002040 100%);
    padding: 4px;
    margin: 0 auto 20px;
}
.single-widget-area .post-author-widget .post-author-avatar img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}