/*myOwns.css*/

.newsletter-widget:after {
    content: "\f003";
    font-family: FontAwesome;
    position: absolute;
    bottom: -75px;
    right: 27px;
    font-size: 160px;
    color: #e8eaed;
    -webkit-transform: rotate(
13deg
);
    -ms-transform: rotate(13deg);
    transform: rotate(
13deg
);
}